@page "/"

<TitleCard>
    <h4>the</h4>
    <h1>Grizzly</h1>
    <h1>English</h1>
    <p>A software engineer's potfolio</p>
</TitleCard>

<div class="c-arrow-container">
    <div class="arrow"></div>
</div>

<div class="container c-info-container">
    <div id="about">
        <About />
    </div>

    <div id="skills">
        <Skills />
    </div>

    <div id="education">
        <Education />
    </div>

    <div id="projects">
        <Projects />
    </div>

    <div id="work">
        <Work />
    </div>

    <footer>
        <p>Icons Provided by <a href="https://fontawesome.com">Font Awesome</a> and <a href="https://icons8.com">Icons8</a></p>
    </footer>
</div>