<div class="row">

    <div class="col-md-12">
        <h2>About Me</h2>
    </div>

    <div class="col-md-6">
        <article>
            <p>
                My name is <span class="u-highlight">Ryan English</span>, and I am a self taught <span class="u-highlight">software engineer</span> based out of 
                <span class="u-highlight">Louisville</span>. 
                I specialize in building business applications to fit the specific needs of the end users. My primary focus is .NET; but always find
                myself learning and utilizing new technologies to tackle new problems.
                My passion will always be solving challenging problems.
            </p>
            <p>
                Outside of my profession; I also have interests in game development and table tennis. I also enjoy music (who doesn't) and some of my favorite artists
                are <span class="u-highlight">the Supermen Lovers</span>, <span class="u-highlight">Trivium</span>, <span class="u-highlight">Denzel Curry</span>, 
                and <span class="u-highlight">SOS Band</span>.
            </p>
            <iframe src="https://open.spotify.com/embed/track/50q0JdXpFIJlEW6KBnbIUR" width="100%" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </article>
    </div>

    <div class="col-md-6">
        <img class="c-me" src="/img/me.jpg" />
    </div>

</div>