<div class="row">
    <div class="col-md-12">
        <h2>Education</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            BSBA in Computer Information Systems
        </h4>
    </div>
    <div class="col-md-12">
        <img class="c-uofl" src="/img/university-of-louisville-logo-vector.png" />
    </div>
</div>