<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse @NavMenuCssClass" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      @foreach (var item in routes)
      {
        <li class="nav-item active">
          <a class="nav-link c-nav-link btn btn-link" onclick="document.getElementById('@item.ToLower()').scrollIntoView({behavior:'smooth'})">@item</a>
        </li>
      }

      <li class="nav-item" style="display: none;">
        <!-- TODO -->
        <a class="nav-link c-nav-link"  href="/blog">Blog</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item c-logo-link -bg-highlight">
            <a href="https://github.com/GrizzlyEnglish">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="nav-item c-logo-link -bg-secondary">
            <a href=https://www.linkedin.com/in/grizzlyenglish/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="nav-item c-logo-link -bg-secondary-highlight">
            <a href="https://www.hackerrank.com/profile/grizzlyenglish">
                <i class="fab fa-hackerrank"></i>
            </a>
        </li>
    </ul>
  </div>
</nav>

@code {

    private List<string> routes = new List<string>() {
        "About", "Skills", "Projects", "Work History"
      };

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
