<div class="row">
    <div class="col-md-12">
        <h2>Projects</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Bowles Delivery Counter</h4>
    </div>
    <div class="col-md-12">
        <p>
            Code available on request.
        </p>
        <p>
            Designed and built specifically tailored to improve the business processes of my then work place of Bowles Mattress. The Delivery Counter
            offers a two week "at a glance" of deliveries, a customer survey generator, inventory management, and administrative reports. The application
            allows for in real time communication between the four Bowles Mattress locations in Louisville - where it has been integrated and used since 2015.
        </p>
        <p>
            Built in <span class="u-highlight">Java</span> and utilizes <span class="u-highlight">Web Sockets</span> for real time updates.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>tnyDelivery</h4>
    </div>
    <div class="col-md-12">
        <p>
            Planned August 2020 release.
        </p>
        <p>
            Code available on request.
        </p>
        <p>
            A <span class="u-highlight">VueJS</span> <span class="u-highlight">Express</span> <span class="u-highlight">PostgreSQL</span> web app
            designed to fully replace the Bowles Mattress Delivery Counter. Screens will be added once released.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            Project Peona
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/project-poena">View code on github</a>
    </div>

    <div class="col-md-12">
        <p>
            A tatical rougelike game being built with <span class="u-highlight">Monogame (.NET)</span>. 
        </p>
        <p>
            The elevator pitch of the game: A tatical rougelike set in the world of Purgadell where you
            play the general of the Warriors Guild whose destined quest is to delve into the dungeons of
            Purgadell to put Thayne back to sleep every hundred years.
        </p>
        <p>
            This project was my main motivation for learning to program, years ago. Although, I don't actively
            work on this project - I try to find time to add to it. Over the years I have made many small games
            as building blocks to learn the best way to structure the game - as well as toy with game design. I
            hope one day to finish this project.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
                University of Louisville E-Commerce Website
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/cis-420-ecommerce">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreateOperatorUseCase.pdf">Create Operator Account Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreatePaymentUseCase.pdf">Create Payment Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreateMarketingCampaignUseCase.pdf">Create Marketing Campaign Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/EditOrderUseCase.pdf">Edit Order Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/Bracyl Prototypes_i5.pdf">Prototype Presentation</a>
    </div>

    <div class="col-md-12">
        <p>
            <strong>Not Maintained</strong>. 
        </p>
        <p>
            My University capstone project for Karolie Cakes of Louisville. Simple E-Commerce web application for creating orders for custom cakes and cupcakes. Developed
            using the Waterfall methodology, we designed and developed as a team. The E-Commerce application offers a shopping cart, gallery, blog; among other aspects. Built
            in <span class="u-highlight">VueJS</span> and <span class="u-highlight">Express JS</span>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            Grizzly English Website
        </h4>
    </div>

    <div class="col-md-12">
        <p>
            This website! Built in <span class="u-highlight">Blazor</span> and <span class="u-highlight">.NET Core</span>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            Project Space
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/project-space">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="/projectspace.html">Demo</a>
    </div>

    <div class="col-md-12">
        <p>
            Messing around with html canvas and <span class="u-highlight">Javascript</span> OOP.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            ngEventScheduler
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/ng-event-schedule">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="https://grizzlyenglish.github.io/ng-event-schedule/">Demo</a>
    </div>

    <div class="col-md-12">
        <p>
            An daily event scheduler to keep track of all your daily tasks.
        </p>
        <p>
            Written to get a better understaing of <span class="u-highlight">AngularJS</span> life cycle shortly after becoming a Junior Web Developer.
        </p>
    </div>
</div>


