<div class="row">
    <div class="col-md-12">
        <h2>Projects</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Bowles Delivery Counter</h4>
    </div>
    <div class="col-md-12">
        <p>
            Code available on request.
        </p>
        <p>
            Designed and built specifically for Bowles Mattress to track and manage their delivery truck.
            Written in JavaFX with websockets to allow for real time updates of events happening in the system.
        </p>
        <p>
            Built in Java 7, JavaFX, and WebSockets.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
                Grizzly English Website
        </h4>
    </div>

    <div class="col-md-12">
        <p>
            A .NET Core Blazor web app. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            Project Space
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/project-space">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="/projectspace.html">Demo</a>
    </div>

    <div class="col-md-12">
        <p>
            Messing around with html canvas.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
            ngEventScheduler
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/ng-event-schedule">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="https://grizzlyenglish.github.io/ng-event-schedule/">Demo</a>
    </div>

    <div class="col-md-12">
        <p>
            An daily event scheduler to keep track of all your daily tasks.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>
                Project Faavalevalea
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/project-faavalevalea">View code on github</a>
    </div>

    <div class="col-md-12">
        <p>
            A tatical rougelike game built in Haxe. Working slowly in my free time.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h4>
                University of Louisville E-Commerce Website
        </h4>
    </div>

    <div class="col-md-12">
        <a href="https://github.com/GrizzlyEnglish/cis-420-ecommerce">View code on github</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreateOperatorUseCase.pdf">Create Operator Account Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreatePaymentUseCase.pdf">Create Payment Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/CreateMarketingCampaignUseCase.pdf">Create Marketing Campaign Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/EditOrderUseCase.pdf">Edit Order Use Case</a>
    </div>

    <div class="col-md-12">
        <a href="/files/projects/e-commerce/Bracyl Prototypes_i5.pdf">Prototype Presentation</a>
    </div>

    <div class="col-md-12">
        <p>
            <strong>Not Maintained</strong>. My University capstone project for Karolie Cakes of Louisville. Simple E-Commerce web application.
        </p>
    </div>
</div>